<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-center d-flex">
    <div class="content-container">

      <p>CHECK OUT YOUR TEAMS:</p>
      <% if current_user.team_ids.empty?%>
        <p>You haven't created any team yet</p>
      <% else %>
        <table style="margin-bottom: 70px">
          <% count = 0 %>
          <% @teams.each do |team| %>
          <% if team.user == current_user %>
          <% count = count + 1 %>
            <tr>
              <td>
                <%= count %>.
              </td>
              <td style="padding-right: 10px">
                <%= team.title %>
              </td>
              <td>
                <%= link_to "show", team_path(team) %>
              </td>
              <td>
                <%= link_to "delete", team_path(team),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </table>
      <% end %>
      <%= link_to "CREATE NEW TEAM", new_team_path, :class => "btn-black", :id => "new-team" %>
    </div>
  </div>
</div>
