<% if user_signed_in? %>
  <%= render 'shared/selected_team' %>
<% end %>

<div class="row justify-content-md-center">
  <div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">
    <div class="function-container">
      <div class="function d-flex align-items-center" >
        <div class="heading-1">
          <%= link_to "GROUP", group_path %>
        </div>
        <%=image_tag 'v1.png' %>
      </div>

      <div class="function">
        <div class="heading-2">
         <%= link_to "ORDER", order_path %>
       </div>
       <%=image_tag 'v2.png' %>
     </div>

     <div class="function">
      <div class="heading-3">
        <%= link_to "PICK", pick_path %>
      </div>
      <%=image_tag 'v3.png' %>
    </div>

    <div class="function">
      <div class="heading-4">
        <%= link_to "SURPRISE", surprise_path %>
      </div>
      <%=image_tag 'v4.png' %>
    </div>

<a href=""></a>
  </div>

</div>
