<div class="row justify-content-md-center">
<div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">
  <div class="function-container">
    <div class="function" style="background-image: url('https://res.cloudinary.com/siggimsiggi/image/upload/v1590269420/AKNioFxnXFrZJLLqbH6FC3Fm.jpg') ">

      <%= link_to "GROUP", group_path %>
    </div>

    <div class="function">
      <%=image_tag 'v2.png' %>
     <%= link_to "ORDER", order_path %>
    </div>

    <div class="function">
      <%=image_tag 'v3.png' %>
      <%= link_to "PICK", pick_path %>
    </div>

    <div class="function">
      <%=image_tag 'v4.png' %>
      <%= link_to "SURPRISE", surprise_path %>
    </div>

  </div>
</div>

</div>
