<div class="row justify-content-md-center">
<div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">
  <div class="function-container">
    <div class="function d-flex align-items-center" >
      <div class="heading">

      <%= link_to "GROUP", group_path %>
      </div>
      <%=image_tag 'v1.png' %>
    </div>

    <div class="function">
     <%= link_to "ORDER", order_path %>
      <%=image_tag 'v2.png' %>
    </div>

    <div class="function">
      <%= link_to "PICK", pick_path %>
      <%=image_tag 'v3.png' %>
    </div>

    <div class="function">
      <%= link_to "SURPRISE", surprise_path %>
      <%=image_tag 'v4.png' %>
    </div>

  </div>
</div>

</div>
